<div>
    <h2 id="page-heading">
        <span jhiTranslate="masjidApp.titulo.home.title">Titulos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-titulo" [routerLink]="['/titulo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="masjidApp.titulo.home.createLabel">
            Create a new Titulo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="titulos?.length === 0">
        <span jhiTranslate="masjidApp.titulo.home.notFound">No titulos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="titulos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="registrationNumber"><span jhiTranslate="masjidApp.titulo.registrationNumber">Registration Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fullNameArabic"><span jhiTranslate="masjidApp.titulo.fullNameArabic">Full Name Arabic</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fullNameLatin"><span jhiTranslate="masjidApp.titulo.fullNameLatin">Full Name Latin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="masjidApp.titulo.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="masjidApp.titulo.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estatusTitulo"><span jhiTranslate="masjidApp.titulo.estatusTitulo">Estatus Titulo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let titulo of titulos ;trackBy: trackId">
                    <td><a [routerLink]="['/titulo', titulo.id, 'view']">{{ titulo.id }}</a></td>
                    <td>{{ titulo.registrationNumber }}</td>
                    <td>{{ titulo.fullNameArabic }}</td>
                    <td>{{ titulo.fullNameLatin }}</td>
                    <td>{{ titulo.email }}</td>
                    <td>{{ titulo.phoneNumber }}</td>
                    <td jhiTranslate="{{ 'masjidApp.EstatusTitulo.' + titulo.estatusTitulo }}">{{ titulo.estatusTitulo }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/titulo', titulo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/titulo', titulo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(titulo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="titulos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
