<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="membership">
            <h2><span jhiTranslate="masjidApp.membership.detail.title">Membership</span> {{ membership.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="masjidApp.membership.title">Title</span></dt>
                <dd>
                    <span>{{ membership.title }}</span>
                </dd>
                <dt><span jhiTranslate="masjidApp.membership.description">Description</span></dt>
                <dd>
                    <span>{{ membership.description }}</span>
                </dd>
                <dt><span jhiTranslate="masjidApp.membership.contributionAmount">Contribution Amount</span></dt>
                <dd>
                    <span>{{ membership.contributionAmount }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/membership', membership.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
