<div>
    <h2 id="page-heading">
        <span jhiTranslate="masjidApp.payment.home.title">Payments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment" [routerLink]="['/payment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="masjidApp.payment.home.createLabel">
            Create a new Payment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="payments?.length === 0">
        <span jhiTranslate="masjidApp.payment.home.notFound">No payments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="payments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="masjidApp.payment.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentDate"><span jhiTranslate="masjidApp.payment.paymentDate">Payment Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="masjidApp.payment.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentMethod"><span jhiTranslate="masjidApp.payment.paymentMethod">Payment Method</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contributor.id"><span jhiTranslate="masjidApp.payment.contributor">Contributor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="period.year"><span jhiTranslate="masjidApp.payment.period">Period</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let payment of payments ;trackBy: trackId">
                    <td><a [routerLink]="['/payment', payment.id, 'view']">{{ payment.id }}</a></td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.paymentDate | date:'medium' }}</td>
                    <td>{{ payment.description }}</td>
                    <td jhiTranslate="{{ 'masjidApp.PaymentMethod.' + payment.paymentMethod }}">{{ payment.paymentMethod }}</td>
                    <td>
                        <div *ngIf="payment.contributor">
                            <a [routerLink]="['/contributor', payment.contributor?.id, 'view']" >{{ payment.contributor?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="payment.period">
                            <a [routerLink]="['/period', payment.period?.id, 'view']" >{{ payment.period?.year }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/payment', payment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/payment', payment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(payment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
