<div>
    <h2 id="page-heading">
        <span jhiTranslate="masjidApp.contributor.home.title">Contributors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contributor" [routerLink]="['/contributor/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="masjidApp.contributor.home.createLabel">
            Create a new Contributor
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contributors?.length === 0">
        <span jhiTranslate="masjidApp.contributor.home.notFound">No contributors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contributors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="registrationNumber"><span jhiTranslate="masjidApp.contributor.registrationNumber">Registration Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fullNameArabic"><span jhiTranslate="masjidApp.contributor.fullNameArabic">Full Name Arabic</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fullNameLatin"><span jhiTranslate="masjidApp.contributor.fullNameLatin">Full Name Latin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="masjidApp.contributor.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="masjidApp.contributor.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contributionStatus"><span jhiTranslate="masjidApp.contributor.contributionStatus">Contribution Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="periodicContribution"><span jhiTranslate="masjidApp.contributor.periodicContribution">Periodic Contribution</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contributionMonth"><span jhiTranslate="masjidApp.contributor.contributionMonth">Contribution Month</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="period.year"><span jhiTranslate="masjidApp.contributor.period">Period</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contributor of contributors ;trackBy: trackId">
                    <td><a [routerLink]="['/contributor', contributor.id, 'view']">{{ contributor.id }}</a></td>
                    <td>{{ contributor.registrationNumber }}</td>
                    <td>{{ contributor.fullNameArabic }}</td>
                    <td>{{ contributor.fullNameLatin }}</td>
                    <td>{{ contributor.email }}</td>
                    <td>{{ contributor.phoneNumber }}</td>
                    <td jhiTranslate="{{ 'masjidApp.ContributieStatus.' + contributor.contributionStatus }}">{{ contributor.contributionStatus }}</td>
                    <td>{{ contributor.periodicContribution }}</td>
                    <td>{{ contributor.contributionMonth }}</td>
                    <td>
                        <div *ngIf="contributor.period">
                            <a [routerLink]="['/period', contributor.period?.id, 'view']" >{{ contributor.period?.year }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contributor', contributor.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contributor', contributor.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contributor)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="contributors?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
