<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-contributor-heading" jhiTranslate="masjidApp.contributor.home.createOrEditLabel">Create or edit a Contributor</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="masjidApp.contributor.registrationNumber" for="field_registrationNumber">Registration Number</label>
                    <input type="number" class="form-control" name="registrationNumber" id="field_registrationNumber"
                           formControlName="registrationNumber"/>
                    <div *ngIf="editForm.get('registrationNumber')!.invalid && (editForm.get('registrationNumber')!.dirty || editForm.get('registrationNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('registrationNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('registrationNumber')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="masjidApp.contributor.fullNameArabic" for="field_fullNameArabic">Full Name Arabic</label>
                    <input type="text" class="form-control" name="fullNameArabic" id="field_fullNameArabic"
                           formControlName="fullNameArabic"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="masjidApp.contributor.fullNameLatin" for="field_fullNameLatin">Full Name Latin</label>
                    <input type="text" class="form-control" name="fullNameLatin" id="field_fullNameLatin"
                           formControlName="fullNameLatin"/>
                    <div *ngIf="editForm.get('fullNameLatin')!.invalid && (editForm.get('fullNameLatin')!.dirty || editForm.get('fullNameLatin')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fullNameLatin')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="masjidApp.contributor.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="masjidApp.contributor.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="masjidApp.contributor.contributionStatus" for="field_contributionStatus">Contribution Status</label>
                    <select class="form-control" name="contributionStatus" formControlName="contributionStatus" id="field_contributionStatus">
                        <option value="OK">{{ 'masjidApp.ContributieStatus.OK' | translate }}</option>
                        <option value="OVERDUE">{{ 'masjidApp.ContributieStatus.OVERDUE' | translate }}</option>
                        <option value="SUSPENDED">{{ 'masjidApp.ContributieStatus.SUSPENDED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="masjidApp.contributor.periodicContribution" for="field_periodicContribution">Periodic Contribution</label>
                    <input type="checkbox" class="form-control" name="periodicContribution" id="field_periodicContribution"
                           formControlName="periodicContribution"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="masjidApp.contributor.contributionMonth" for="field_contributionMonth">Contribution Month</label>
                    <input type="number" class="form-control" name="contributionMonth" id="field_contributionMonth"
                           formControlName="contributionMonth"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="masjidApp.contributor.membership" for="field_memberships">Membership</label>
                    <select class="form-control" id="field_memberships" multiple name="memberships" formControlName="memberships">
                        <option [ngValue]="getSelected(editForm.get('memberships')!.value, membershipOption)" *ngFor="let membershipOption of memberships; trackBy: trackById">{{ membershipOption.title }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="masjidApp.contributor.period" for="field_period">Period</label>
                    <select class="form-control" id="field_period" name="period" formControlName="period">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="periodOption.id === editForm.get('period')!.value?.id ? editForm.get('period')!.value : periodOption" *ngFor="let periodOption of periods; trackBy: trackById">{{ periodOption.year }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
